{% extends 'base.html.twig' %}

{% block title %}Prochains matchs{% endblock %}

{% block body %}
    <div class="flex justify-center">
        <h1 class="text-lg font-semibold">Prochains matchs</h1>
    </div>

    <div class="flex justify-center items-center flex-col mt-6 space-y-6">
        {% for game in games %}
            <div
                class="flex justify-center items-center flex-col"
                x-data="predict(null)"
                x-init="makePrediction('{{ game.id }}', null)"
            >
                <p class="text-md font-semibold">{{ game.date|date('d/m/Y  \\à G\\hi', 'Europe/Paris') }}</p>
                <div class="mt-2 max-w-full flex justify-center items-center space-x-4">
                    <div
                        class="w-28 sm:w-40 md:w-60 p-4 hover:bg-gray-900 rounded-lg flex justify-end items-center space-x-4 cursor-pointer border"
                        :class="prediction === '{{ game.codeTeam1 }}' ? 'bg-gray-900 border-gray-500' : 'border-gray-700'"
                        @click="makePrediction('{{ game.id }}', '{{ game.codeTeam1 }}')"
                    >
                        <p class="hidden md:block">{{ game.nameTeam1 }}</p>
                        <p class="md:hidden">{{ game.codeTeam1 }}</p>
                        <img class="w-10 h-10" src="{{ game.imageTeam1 }}"/>
                    </div>
                    <p class="text-md font-semibold">VS</p>
                    <div
                        class="w-28 sm:w-40 md:w-60 p-4 hover:bg-gray-900 rounded-lg flex justify-start items-center space-x-4 cursor-pointer border"
                        :class="prediction === '{{ game.codeTeam2 }}' ? 'bg-gray-900 border-gray-500' : 'border-gray-700'"
                        @click="makePrediction('{{ game.id }}', '{{ game.codeTeam2 }}')"
                    >
                        <img class="w-10 h-10" src="{{ game.imageTeam2 }}"/>
                        <p class="hidden md:block">{{ game.nameTeam2 }}</p>
                        <p class="md:hidden">{{ game.codeTeam2 }}</p>
                    </div>
                </div>
                <p id="error-{{ game.id }}" class="text-xs text-red-500"></p>
            </div>
            {% if not loop.last %}
                <div class="w-full border-b border-gray-900"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function predict(prediction) {
            return {
                prediction,
                async makePrediction(game_id, team) {
                    const fetchUrl = "{{ path('prediction') }}";
                    const data = {
                        game_id,
                        team,
                    };

                    let { prediction, success } = await fetch(fetchUrl, {
                        method: "POST",
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(data)
                    }).then((response) => {
                        return response.json();
                    })

                    if (success) {
                        this.prediction = prediction;
                    } else {
                        document.querySelector(`p#error-${game_id}`)
                            .innerHTML = 'Les prédictions ne sont plus possibles pour ce match. Il a probablement déjà commencé.';
                    }
                }
            }
        }
    </script>
{% endblock %}
