{% extends 'base_not_connected.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialiser mon mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entre ton email et on t'enverra un email de réinitialisation de mot de passe. 
            </small>
        </div>

        <button class="btn btn-primary">Envoyer un email de réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/reset_password.scss') }}" rel="stylesheet">
{% endblock %}
